.manage-user-container {
   padding: 20px;
   .title {
      font-weight: 600;
      font-size: 20px;
   }
   .user-content {
      .btn-add-user {
         border: none;
         outline: none;
         margin: 15px 0;
      }
   }
}

.modal-add-users {
   .img-preview {
      height: 200px;
      border: 1px dashed #ccc;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      img {
         max-width: 100%;
         max-height: 100%;
      }
   }
   .lable-upload {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3px;
      background-color: #3b71ca;
      padding: 5px 12px;
      border-radius: 5px;
      width: fit-content;
      color: #fff;
      cursor: pointer;
   }
}
